/************************************************************
core.css 
	Versao: 1.1
	->Define as cores básicas do site
		main-color:   Cor Tema do site	
		border-color: Cor de Bordas
		text-color: Cor de Texto
		title-color: Cor de Texto em headers e titulos
************************************************************/

	:root {
	  --main-color:   red;	  
	  --border-color: white;
	  --text-color:   #151515;
	  --title-color:  white;
	  --transparent-color: rgba(4,40,68,0.4);
	}

	th {
	    background-color: var(--main-color);
	    color: var(--title-color);
	}
	.navbar-inverse {
	  background-color:var(--main-color); 	  
	  border-color: var(--border-color);
		color: var(--title-color);
	}   
	div#sidebar   
	 {
	  background-color: var(--main-color); 	  
	}   
	#barrasup {
	  background-color: var(--main-color); 
	  border-color: var(--border-color);
	}  
	.panel-default > .panel-heading{
		background-color:var(--main-color); 
		color: var(--title-color);	 
	}
	.btn{		
		background-color:var(--main-color); 
		color: var(--title-color);	 
	}
	
	button{		
		background-color:var(--main-color); 
		color: var(--title-color);	 
	}
	body {
    color: var(--text-color);
}
.login button {
		background-color:var(--main-color); 
		color: var(--title-color);	 
}
.login input:focus {                
    color: #444;
    border-color: var(--main-color);                 
}
.login.ok button {
    background-color:var(--main-color); 
}  
.wrapper {
	background-color: var(--transparent-color);
}