    <!-- Home -->
    <div id="home" class="parallax-container" style="height: 105%;margin-top: -80px">

        <div id="primeirasessao" class="parallax">
            <!-- Adcione a imagem aqui -->
            <img src="{IMG_HOME}" style=" background-size:cover;background-position:top;"></div>

        <!-- tela escura e texto -->
        <div class="divando flex ">
            <div class="flex" style="width: 100%">

                <center>
                    <h3 class="wow fadeInRight" style="color: #fff;">{TXT_HOME}</h3>
                </center>
                <div class="flex" style="width: 100%">
                    <a style="text-decoration-line: none;outline: 0" class="scroll" href="#sec_serv">
                        <button class="novorbtn waves-effect  flex">Navegar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>