    <section id="quemsomos" class="flex" style="background-color: #fff ;">
        <div style="width: 100%">
            <br>
            <br>
            <center>
                <h3 class="texsectionone wow fadeInUp" style="font-family: 'Maven Pro', sans-serif;">Quem Somos</h3>
            </center>
            <center>
                <div class="hrdivo"></div>
            </center>
        </div>
        <!-- div geral -->
        <div class="flex ta" style="width: 100%;flex-wrap: wrap-reverse">
            <!-- Titulo -->

            <div class="tbe wow fadeInLeft" style="width: 50%;min-width: 300px;">
                <!-- div texto -->
                <div class="wpb_wrapper">
                    {TXT_INST}
                    <div class="separator  transparent   " style="margin-top: 35px;margin-bottom: 0px;"></div>
                    <div class="separator  transparent   " style="margin-top: 80px;margin-bottom: 0px;"></div>
                </div>
            </div>

            <!-- div metade direita -->
            <div class="flex tbd" style="width: 50%;min-width: 300px; background-color : #fff; padding : 5%">
                <!-- imagem da direita -->
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_left  element_from_fade qode_image_hover_zoom_in element_from_fade_on">
                        <div style="-webkit-animation-delay:2.5s; animation-delay:2.5s; -webkit-transition-delay:2.5s; transition-delay:2.5s">
                            <div class="service-box service-color-one">
                                <div class="service-img center wow fadeInRight"><img width="100%" height="auto" src="{IMG_INST}" class="vc_single_image-img attachment-full" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="separator  transparent" style="margin-top: 80px;margin-bottom: 8px;"></div>
                </div>

            </div>
        </div>
    </section>
