    <div class="parallax-container" style="height: 300px">
        <div class="parallax"><img src="{IMG_PARRALAX_SOCIAL}"></div>
        <div class="divando flex ">
            <div class="flex" style="width: 100%">
                <center>
                    <h3 class="wow fadeInRight" style="color: #fff">Fale Conosco por e-mail, Telefone ou Redes Sociais </h3>
                    <a href="https://api.whatsapp.com/send?phone={WHATSAPP}"><i class="fa fa-whatsapp wow fadeInLeft" style="font-size:48px; color: white; background-color: transparent;    border-color: #fff;"></i></a>
                    <a href="{FACEBOOK}"><i class="fa fa-facebook-square wow fadeInLeft" style="font-size:48px; color: white; background-color: transparent;    border-color: #fff; margin-right:10px;margin-left:10px;"></i></a>
                    <a href="{INSTAGRAM}"><i class="fa fa-instagram wow fadeInLeft" style="font-size:48px; color: white; background-color: transparent;    border-color: #fff;"></i></a>
                </center>
            </div>
        </div>
    </div>